# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual Environment
venv/
CRM_ENV1/

# Distribution / Packaging
build/
dist/
*.egg-info/

# Logs and Data Artifacts
Logs/
artifacts/


# IDE Specific
.vscode/
.idea/

# MLFlow Artifacts
mlruns/

# Sensitive Files

